RewriteEngine on
#404 START
 ErrorDocument 404 /404.html
 ErrorDocument 403 /403.html
#404 END
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^snooz3\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.snooz3\.com$
RewriteRule ^/?$ "https\:\/\/snooz3\.com\/" [R=301,L]
Options -Indexes
